@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #1992E3;
    --cor4: #105482;
    --cor2: #273641;
    --cor3: #ffff;
    --cor5: #e3e1e1;

    --font1: Lobster, sans-serif;
    --font2: Poppins, sans-serif;
    --font3: Roboto, sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--cor5);
}

main {
    flex: 1;
}

header {
    color: var(--cor3);
    background-image: linear-gradient(to left, var(--cor1) 20%,var(--cor4));
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

}

header > h1 {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 40px;
    margin-left: 30px;
}

header > nav {
    margin-right: 70px;
}

header > nav > a {
    font-size: 1.2em;
    color: var(--cor3);
    text-decoration: none;
    font-family: var(--font2);
    font-weight: 600;
    margin-right: 10px;
    padding-bottom: 2px;
    
}

header > nav > a:hover {
    border-bottom: 2px solid white;
}

#sec-top {
    font-family: var(--font2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:70px 0 60px 20px
}


#sec-top div {
    color: var(--cor2);
    margin:  0 0 0 50px;
    width: 50vw;
}

#sec-top div h1 {
    font-size: 5vw;
}

#sec-top div p {
    font-size: 2vw;
}

#sec-top button {
    transition: 200ms;
    font-size: 1.3vw;
    padding: 1vw 5vw;
    background-color: var(--cor1);
    color: var(--cor5);
    font-family: var(--font2);
    border: transparent;
    border-radius: 3px;
    margin-top: 20px
}

#sec-top button:hover {
    transition: 600ms;
    background-color: var(--cor4);
    color: var(--cor3);
}
.main-top-bottom img {
    width: 50vw;
}

#sec-bottom {
    background-color: var(--cor3);
    padding: 60px 0;
    color: var(--cor2);
    font-family: var(--font3);
    text-align: center;
}
.titulo-secao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    padding-top: 50px;
}

.titulo-secao h2 {
    font-size: 3.5vw;
}

.linha {
    flex: 1;
    height: 2px;
    background-color: #ccc;
}

.grid-servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}

.card {
    padding: 20px;
}

.card i {
    font-size: 8.5vw;
    color: var(--cor4);
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    font-size: 2.7vw;
}

.card p {
    font-size: 1.35vw;
    color: var(--cor2);
}

footer {
    text-align: center;
    background-color: var(--cor2);
    color: var(--cor3);
    padding: 20px;
}